body
{
background:#000000 url('bg.png') no-repeat;
background-position:center top;
}

h2 {letter-spacing:3px;text-transform: uppercase;text-align:center;font-family: 'helvetica neue',helvetica,sans-serif;color:#B8B294}
h4{font-size:15px;color:#cccccc;}
p.sansserif{font-family:Arial,Helvetica,sans-serif;}
p {font-size:13px;color:#cccccc;}
p.bottomlinks {font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#cccccc;}

a:link {color:#cccccc;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:11px}
a:visited {color:#ffffff;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:11px}
a:hover {color:#d2ac67;text-decoration:underline;font-family:Arial,Helvetica,sans-serif;font-size:11px}
a:active {color:#cccccc;text-decoration:underline;font-family:Arial,Helvetica,sans-serif;font-size:11px}

button {
  color: #666;
  border: 1px solid #D9BB85;
  background:#fff;
}

p.question {font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFDA91;font-weight:bold;}

.ticketsLink {
	color: #FFD039;
	font-weight:bold;
	font-size:12px
	text-decoration:underline;
}

.errorblock {font-family:Arial;background-color:#990000;color:#FFF;padding:5px;font-weight:bold;width:40%}
.errorblock a {color:white;}

.Hide {display: none; visibility: hidden;}
.Show {visibility: visible;}                                                    

#uploadForm {border-top:#F0F0F0 2px solid;background:#FAF8F8;padding:10px;font-family:Arial;}
#uploadForm label {margin:2px; font-size:1em; font-weight:bold;font-family:Arial;}
.demoInputBox{padding:5px; border:#F0F0F0 1px solid; border-radius:4px; background-color:#FFF;}
#progress-bar {background-color: #D2AB66;height:20px;color: #FFFFFF;width:0%;-webkit-transition: width .3s;-moz-transition: width .3s;transition: width .3s;}
.btnSubmit{background-color:#D2AB66;border:0;padding:10px 40px;color:#FFF;border:#666 0px solid; border-radius:4px;}
#progress-div {border:#D2AB66 1px solid;padding: 5px 0px;margin:30px 0px;border-radius:4px;text-align:center;}
#targetLayer{width:100%;text-align:center;}
#loader-success a{color:green;font-size:24px;text-decoration:underline;}

