.gold {
	background: #b98345 !important;
	color: #fff !important;
}
.gold svg {
	fill: #fff !important;
}

.text-gold {
	color: #b98345 !important;
}
.text-gold.button svg {
	fill: #b98345 !important;
}

.stroke.button.gold {
	color: #b98345 !important;
	border-color: #b98345 !important;
}
.stroke.button.gold svg {
	fill: #b98345 !important;
}

.charcoal {
	background: #333333 !important;
	color: #fff !important;
}
.charcoal svg {
	fill: #fff !important;
}

.text-charcoal {
	color: #333333 !important;
}
.text-charcoal.button svg {
	fill: #333333 !important;
}

.stroke.button.charcoal {
	color: #333333 !important;
	border-color: #333333 !important;
}
.stroke.button.charcoal svg {
	fill: #333333 !important;
}

.sidebar ul {
	padding-top: 20px;
	text-align: center;
}



.wrap{
	width: 80%;
	max-width: 900px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.home_con{
	height: 3200px;
	text-align: center;
}
.cat_con{
	height: 1000px;
	text-align: left !important;
}

.home_con .home_top{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.home_con .dcr_txt{
	width: 30%;
}
.home_con .dcr_txt p{
	font-size: 12px !important;
}
.home_con .winner_txt{
	width: 20%;
}
.home_con .winner_txt h2{
	margin: 0;
}
.home_con .winner_txt div{
	width: 100%;
	height: 90px;
}
.home_con .video_pan{
	width: 100%;
}
.cat_con .link_txt{
	width: 100%;
	text-align: center;
}
.content a:hover{
	color: #FFDA91;
	text-decoration: underline;
}
.judge_art{
	width: 100%;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.judge_art .col_pan{
	width: 100%;
	min-height: 400px;
	display: flex;
	justify-content: space-between; 
}
.judge_art .col_pan article{
	width: 49%;
	margin-bottom: 40px;
}
.judge_art .col_pan article p{
	font-size: 18px;  
}
.judge_art .col_pan article img{
	margin-right: 10px !important;
}
.faq_con{
	max-width:879px; 
}
.faq_con img{
	width: 879px;
	height: 585px;
	margin: 40px auto;
} 
.faq_con article .question{
	color: #FFDA91;
}
.event_art{
	border-bottom: 1px dashed;
}
.event_art img{
	width: 200px;
	height: 300px;
	float: left;
	margin: 0 20px 0 0;
}
.contact_con{
	max-width: 900px;
}
.contact_con form span{
	display: flex;
}
.contact_con form label{
	width: 80px;
}
.contact_con form label b{
	color: red;
}
.contact_con form input[type="text"] {
	height: 20px;
	width: 300px;
}
.msg_span textarea{
	max-width: 700px !important;
}
.contact_con form button{
	margin-top: 10px;
	margin-left: 95px;
	width: 80px;
	color: #000;
}
.contact_con .us_info{
	width: 100%;
	margin-top: 40px;
}
.contact_con .us_row{
	width: 100%;
	padding: 40px 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.contact_con .us_row img{
	margin-right: 10px;
}
.contact_con .us_row span{
	display: flex;
	align-items: center;
}

.contact_con .us_row p{
	margin: 0;
	font-size: 18px;
}
.winners_list{
	/*text-align: center;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.winners2016_con .winners_list a{
	margin-bottom: 20px;
}
.winner{
	text-align: center;
	width: 100%;
	margin-top: 100px;
	border-bottom: 1px dotted;
}
.winner .finalist{
	color: #FFDA91;
}
.winner .winner_pic{
	width: 100%;
}
.winner .other_pic{
	width: 50%;
	float: left;
}
.final_list{
	text-align: center;
}
.winnerspack_con span{
	margin-bottom: 50px;
}
.pastwin_con span{
	text-align: center;
}
.winner img{
	opacity: 1 !important;
}
.list_2column{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.left_justify{
	align-items: left;
}
.column_3{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}
.column_3 .winner_pic div{
	width: 100%;
	height: 120px;
}
.wrap img{
	max-width: 890px;
	align-self: center;
}
#uploadForm{
	border-top: #F0F0F0 2px solid;
    background: #FAF8F8;
    padding: 10px;
    font-family: Arial;
	font-size: 18px !important;
    color: #000 !important;
    width: 100%;
}
#uploadForm label{
	margin: 2px;
	color: #000;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial
}
.demoInputBox{
	padding: 5px;
    border: #F0F0F0 1px solid;
    border-radius: 4px;
    background-color: #FFF;
}
.input_bar{
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.errorblock{
	font-family: Arial;
    background-color: #990000;
    color: #FFF;
    font-weight: bold;
    width: 40%;
    border-radius: 5px;
}
.btnSubmit{
	background-color: #D2AB66;
    border: 0;
    padding: 10px 40px;
    color: #FFF;
    border: #666 0px solid;
    border-radius: 4px;
}
.btnSubmit:hover{
	cursor: pointer;
}
#progress-div{
	border: #D2AB66 1px solid;
    padding: 5px 0px;
    margin: 30px 0px;
    border-radius: 4px;
    text-align: center;
}
#progress-bar{
	background-color: #D2AB66;
    height: 20px;
    color: #FFFFFF;
    width: 0%;
    -webkit-transition: width .3s;
    -moz-transition: width .3s;
    transition: width .3s;
}
#targetLayer{
	width: 100%;
    text-align: center;
}