body {
	margin: 0;
	padding: 10px 0 30px 0;
	text-align: center;
	font-size: 14px;	
	font-family: georgia,serif;
}

h1,
h2 {	
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: 'helvetica neue',helvetica,sans-serif;
}

h1 {
	font-size: 1.2em;
	margin: 10px 0;
}

h2 {
	font-size: 1.1em;
	margin: 20px 0;	
}

a {
	text-decoration: none;
	outline: none;
}

a img {
	border: none;	
}

ul {
	list-style: none;	
}	

.description {
	margin: 10px auto;
}

.caption {
	display: block;
	margin: 10px auto;
	font-size: 12px;
}

#main {
	position: relative;
}

#main_image .loader {
	margin: 0 auto;
}

#main_image .loader img {
	margin: 0 auto;
	border: none;	
}

#middle_container {
	margin: 0 auto;
	position: relative;
}

#single_image {
	position: relative;	
}

#left_arrow,
#right_arrow,
#left_fast_arrow,
#right_fast_arrow {
	float:left;
	cursor: pointer;
	-ms-interpolation-mode: bicubic;
}

#scroller_container {
	margin: auto;
	position: relative;
}

#image_scroller {
	position: relative;
	margin: auto;
	float:left;
	overflow: hidden;
}

.thumbnails {
	left: 0;
	margin: 0;
	padding: 0;
	top: 0;
	position: absolute;
}

#top_container {
	padding-bottom: 6px;
	border-bottom-style: solid;
	margin: 0 0 10px 0;
}

#bottom_container {
	margin: 0;
	padding: 6px 0;
	border-top-style: solid;
	width: 100%;
	text-align: center;
	display: block;
	font-size: 0.8em;
}

#folders_container {
	border-bottom-style: solid;
	margin-bottom: 20px;
} 

.folders {
	margin: 0px auto;
	padding: 0;
}

.folders li {
	float: left;
	display: inline;
}

.folders li a {
	display: block;
	position: relative;		
	overflow: hidden;
}

.folders li a span {
	position: absolute;
	left: 0;
	top: 0;	
	opacity: 0.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter:alpha(opacity:70);
	padding: 4px;
	margin: 0;
	background-color: #000;
	font-size: 10px;
	font-family: 'helvetica neue',helvetica,sans-serif;
	font-weight: bold;
	color: #fff;
	text-align: left;
}

.thumbnails li span {
	display:none;	
}

.thumbnails li img, 
.folders li a img {
	-ms-interpolation-mode: bicubic;
}

#extras {
	display: none;
	width: 280px;
	font-family: 'helvetica neue',helvetica,sans-serif;
	font-size: 10px;
}

#extras ul {
	margin: 0;
	padding: 0;
}

#extras ul li {
	display: inline;
	padding: 0 5px;
	border-left-width: 1px;
	border-left-style: solid;
	line-height: 16px;
}

#extras ul li.first {
	padding-left: 0px;
	border-left: none;
}

.clear {
	clear: both;
	width: 0px;
	height: 0px;
	line-height: 0px;
	font-size: 0px;	
}

.hide {
	display: none;
}
