

body

{

background:#000000 url('bg.png') no-repeat;

background-position:center top;

}

h4{font-size:15px;color:#cccccc;}

p.sansserif{font-family:Arial,Helvetica,sans-serif;}

p {font-size:13px;color:#cccccc;}

p.bottomlinks {font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#cccccc;}



a:link {color:#cccccc;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:11px}

a:visited {color:#ffffff;text-decoration:none;font-family:Arial,Helvetica,sans-serif;font-size:11px}

a:hover {color:#d2ac67;text-decoration:underline;font-family:Arial,Helvetica,sans-serif;font-size:11px}

a:active {color:#cccccc;text-decoration:underline;font-family:Arial,Helvetica,sans-serif;font-size:11px}



button {

  color: #666;

  border: 1px solid #D9BB85;

  background:#fff;

}





p.question {font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#FFDA91;font-weight:bold;
}



.ticketsLink {
	color: #FFD039;
	font-weight:bold;
	font-size:12px
	text-decoration:underline;
}

.Hide {display: none; visibility: hidden;}
.Show {visibility: visible;}                                                       






