html {   
	height: 95%;
	margin: 0px;      
	font-family:arial, helvetica, sans-serif;
	font-size:13px;
	color: #333;
}   

body {
	background:#FFFFFF url('bg.png') no-repeat;
	margin: 0;
	padding: 0;
	height: 100%;
}

/* STRUCTURE: IDs
------------------------------------------------------------------*/

#wrapper {
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
	margin:0;
	padding:0;	
	margin: auto;
	width: 1100px;
	text-align:left;
	background:#fff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding:20px;
} 

#header {
	width: 900px;      
	min-height:135px;
	margin:0px;
	text-align:center;
} 

#footer {
	width: 900px;      
	background-color:#202020;
	margin:0px;
	margin-bottom:20px;
} 

} 

/* TYPOGRAPHY: GENERAL
------------------------------------------------------------------*/

.logincopy {
	font-family:arial, helvetica, sans-serif;
	font-size:13px;
	color: #333;
}

.loginerror {
	font-family:arial, helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color: #D2AB66;
}

.bodycopy {
	font-family:arial, helvetica, sans-serif;
	font-size:13px;
	line-height:16px;
	color: #333;
	margin:10px;
}

.bodycopystrong {
	font-family:arial, helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	line-height:16px;
	color: #333;
	margin-top:20px;
	margin-bottom:0px;
	margin-left:10px;
}

.bodyheader {
	font-family:arial, helvetica, sans-serif;
	font-size:18px;
	color: #333;
	margin-top:10px;
	margin-left:10px;
}

.bodycopysubpanel {
	font-family:arial, helvetica, sans-serif;
	font-size:12px;
	line-height:14px;
	color: #333;
	margin-left:30px;
	margin-right:30px;
}

.header01 {
	font-family:arial, helvetica, sans-serif;
	font-size:18px;
	color: #333;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:20px;
}

.headersubpanel {
	font-family:arial, helvetica, sans-serif;
	font-size:18px;
	color: #333;
	margin-top:10px;
	margin-bottom:0px;
	margin-left:30px;
	margin-right:30px;
}

.profileheader {
	font-family:arial, helvetica, sans-serif;
	font-size:18px;
	color: #333;
	margin-top:5px;
	margin-bottom:8px;
	margin-left:0px;
	
}

.profilecopy {
	font-family:arial, helvetica, sans-serif;
	font-size:13px;
	line-height:16px;
	color: #333;
	margin-top:0px;
	margin-bottom:8px;
}

.footercopy {
	font-family:arial, helvetica, sans-serif;
	font-size:10px;
	color: #666;
	margin-bottom:20px;
	margin-top:20px;
}


/* TYPOGRAPHY: LINKS
------------------------------------------------------------------*/

a.onwhite:link {	color: #D2AB66; text-decoration:underline;}
a.onwhite:active {	color: #D2AB66; text-decoration:underline;}
a.onwhite:visited {	color: #D2AB66; text-decoration:underline;}
a.onwhite:hover {	color: #D2AB66; text-decoration:none;}


a.onwhitestrong {
	font-weight:bold;
	color: #D2AB66; 
	text-decoration:none;
}

a.onblack {
	color: #f6921e; 
	text-decoration:none;
}

a:link {text-decoration:underline;color:#283991;}
a:active {text-decoration:underline;color:#283991;}
a:visited {	text-decoration:underline;color:#283991;}
a:hover {text-decoration:none;color:#283991;}

.footerlink {
	color: #666; 
	text-decoration:none;
}

.textfield {
margin: 0px 0px 0px 10px;
border: 1px #CCCCCC solid;
width: 265px;
height:20px;
background-color: transparent;
}

.button-proceed {
	
	valign: bottom;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:10px;
	font-size:20px;
}

/* IMAGES
------------------------------------------------------------------*/

.profilepicture {
	float:left;
}

.linebreak {
	margin-top:10px;
	min-height:1px;
	min-width:850px;
}

.nolinebreak {
	margin-top:0px;
	min-height:1px;
	min-width:850px;
}

.subpanel_title {
	margin-left:30px;
}

SELECT, INPUT, TEXTAREA {font-family:Arial;}

TEXTAREA {font-size:12px;}

.label
{
	text-align:right;
	font-weight:bold;
	width:150px;
	background-color: #EFEFEF;
	line-height: 150%;
}

.m_label
{
	text-align:right;
	font-weight:bold;
	width:150px;
	color:#D2AB66;
	background-color: #EFEFEF;
  line-height: 150%;
}

.field {background-color: #DDD;line-height: 150%; }
.field2 {background-color: #DDD;line-height: 150%; width:300px;}

.rowdata {background-color: #EFEFEF;line-height: 150%;}
.rowdata_alt {background-color: #DDD;line-height: 150%;}
.rowdata_yellow {background-color: #FFFF66;line-height: 150%;}
.rowdata_green {background-color: #99CC99;line-height: 150%;}
.rowdata_cannotjudge {background-color: #990000;color:#FFFFFF;line-height: 150%;}

.header {background-color:#444;color:#FFF;line-height: 150%;font-weight:bold;}
.header2 {background-color:#CCCC99;color:#000;line-height: 150%;font-weight:bold;}

.header a:link {color: white; text-decoration:underline; }
.header a:active {color: white; text-decoration:underline; }
.header a:visited {color: white; text-decoration:underline; }
.header a:hover {color: white; text-decoration:none; }

.graylink a {color: #666; text-decoration:underline; }

.maintitle {font-family: Arial;font-size: 24px;color: #000;}
.subtitle {font-family: Arial;font-size: 24px;}
.subsubtitle {font-family: Arial;font-size: 18px;}
.smalltext {font-family: Arial;font-size: 10px;}
.verysmalltext {font-family: Arial;font-size: 8px;}

.right {float: right;}
.left  {float:left;}

.Hide {display: none; visibility: hidden;}
.Show {visibility: visible;}                                                       

hr {border:0;height:1px;color:#CCC;background:#CCC;}

.login {width: 350px;border: 1px solid #CCC;background-color:#EFEFEF;text-align:left;padding:10px;}
.login_content {padding:5px;}
.login_banner {background-color:#444444;height:25px;color:#EFEFEF;margin-bottom:10px;font-size:18px;font-family:Arial;padding:5px;text-align:center;}
.loginfield {}

.red {color:#CC0000;}
.green {color:#006600;}

.atable {border:1px solid #444;font-family:Arial;font-size:12px;}
.searchboxtable {border:1px solid #CCCCCC;font-family:Arial;font-size:12px;background-color:#EFEFEF;padding:2px;}

.errorblock {background-color:#990000;color:#FFF;padding:5px;font-weight:bold;width:40%}
.errorblock a {color:white;}
.okblock {background-color:#006600;color:#FFF;padding:5px;font-weight:bold;width:40%}
.reviewapprovebutton {background-color:#abcc5b;color:#FFF;padding:2px; width:250px;text-align:left;}
.reviewrefusebutton {background-color:#990000;color:#FFF;padding:2px; width:250px;text-align:left;}

#alertdiv {padding-top:10px;padding:3px;text-align:center;width:400px;}
#alertdiv #alertmessage {font-size:28px;background-color:#990000;color:#FFFFFF;}

.startbutton {background-color:#336600; color: #FFFFFF; font-size:24px; width:200px;height:35px;padding:5px; border:1px solid #333300;}
.startbutton a:link {color:#FFFFFF}
.startbutton a:active {color:#FFFFFF}
.startbutton a:visited {color:#FFFFFF}
.startbutton a:hover {color:#FFFFFF}

.welcome {background-color:#EFEFEF;border:1px solid #CCC;width:700px;padding:5px;}
.welcome p {text-align:left;line-height:150%;}

.countdown {background-color:#CC0000;color:#FFFFFF;font-size:12px;padding:2px;}
.autosavetext {color:#666666;}

.chosenanswer {padding:2px;font-weight:bold;border:1px solid #444;}
.unchosenanswer {padding:2px;}

.expandcollapsetext {font-size:10px;font-family;Arial;}
.messagebox {background-color:#EFEFEF;border:1px solid #CCC;padding:5px;width:600px;margin-bottom:10px;}
.messagebox p {text-align:center;line-spacing:1.4;}

.rss_category {margin-bottom:20px;}
.rss_category_header {font-size:2.4em;font-family:Georgia,Arial;padding:2px;}

.rss_feed {margin-bottom:15px;margin-left:20px;}
.rss_feed_header {font-size:1.7em;font-family:Georgia,Arial;padding:2px;}
.rss_feed_updated {font-size:0.85em;font-family:Georgia,Arial;padding:2px;margin-left:20px;color:gray;}

.rss_content {padding:2px;margin-bottom:3px;margin-left:20px;}
.rss_content_header {font-size:1.2em;font-family:Georgia,Arial;padding:2px;}
.rss_content_footer {font-size:0.85em;color:gray;}

.balloonstyle{
	position:absolute;
	top: -500px;
	left: 0;
	padding: 5px;
	visibility: hidden;
	border:1px solid black;
	font:normal 10px Verdana;
	line-height: 14px;
	z-index: 100;
	background-color: white;
	width: 200px;
	/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
	filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135,Strength=5);
}

#arrowhead{
	z-index: 99;
	position:absolute;
	top: -500px;
	left: 0;
	visibility: hidden;
}

.message_judge {
	width:500px;
	border:1px solid #000;
	background-color:#CCCCCC;
	padding:2px;
	margin-top:10px;
}

/* VIDEO PLAYBACK
------------------------------------------------------------------*/
.progressBar {
    position: relative;
    width: 100%;
    height: height:10px;
    backgroud-color: #000;
}
.bufferBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #ccc;
}

.notattending {
	text-decoration: line-through;
}